body{
    background-color: #212629;
    margin: 0%;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}


#container{
    background-color: #333;
    margin: 0%;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
}

#parteBlanca{
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    width: 40%;
    height: 100vh;
    padding-bottom: 50vh;
    padding-top: 50vh;
    border-radius: 0 25% 25% 0 /  50%;
}

#formDiv{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 60%;
    height: 100vh;
}

#divisor{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

#linea1{
    width: 98%;
    margin-right: 2%;
    height: 5px;
    background-color: #fdf5eb;
}


#linea2{
    width: 98%;
    margin-left: 2%;
    height: 5px;
    background-color: #fdf5eb;
}


#divRegistrar{
    display: flex;
    align-items: center;
    height: 150px;
}

.botonRegistrar{
    width: 200px;
    height: 75px;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    background-color: #fdf5eb;
    color: #212629;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#tituloRegistro{
    font-family: 'Arial', sans-serif;
    color: #fdf5eb;
    font-size: 50px;
    font-weight: 800;
}


#botonIniciodeSesión{
    width: 250px;
    height: 75px;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    background-color: #fdf5eb;
    color: #212629;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

#o{
    color: #fdf5eb;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#tituloIniciarSesion{
    color: #fdf5eb;
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
}
.linkRegistro{
    margin-right: 10%;
    margin-left: 10%;
}